In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
# read file
df = pd.read_csv("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/brussels_weather.csv")

In [3]:
df.head()

,location,Grand Place Brussels,Grand Place Brussels.1,Grand Place Brussels.2,Grand Place Brussels.3
0,lat,50.75000,50.75000,50.75000,50.75000
1,lon,4.25000,4.25000,4.25000,4.25000
2,asl,65.530,65.530,65.530,65.530
3,variable,Temperature,Relative Humidity,Wind Speed,Wind Direction
4,unit,째C,%,km/h,째

In [4]:
# drop first 9 rows
df.drop(df.index[:9], inplace=True)

In [5]:
# rename columns
df = df.rename(columns={"location": "date_time" ,"Grand Place Brussels": "temperature", "Grand Place Brussels.1": "relative_humidity", "Grand Place Brussels.2": "wind_speed", "Grand Place Brussels.3": "wind_direction"})

In [6]:
#get the year, month, day and time in separate columns
df["year"] = df["date_time"].apply(lambda x: x[:4])
df["month"] = df["date_time"].apply(lambda x: x[4:6])
df["day"] = df["date_time"].apply(lambda x: x[6:8])
df["time"] = df["date_time"].apply(lambda x: x[9:])

In [7]:
df.head()

,date_time,temperature,relative_humidity,wind_speed,wind_direction,year,month,day,time
9,20140101T0000,6.4709435,91.90476,20.774214,207.89728,2014,01,01,0000
10,20140101T0100,6.840944,91.48526,20.592503,216.46924,2014,01,01,0100
11,20140101T0200,6.7509437,91.160164,19.296135,216.65611,2014,01,01,0200
12,20140101T0300,6.360944,89.92542,19.164717,208.00919,2014,01,01,0300
13,20140101T0400,6.0409436,88.89181,19.255793,200.8068,2014,01,01,0400

In [8]:
# check the data types
df.dtypes

date_time            object
temperature          object
relative_humidity    object
wind_speed           object
wind_direction       object
year                 object
month                object
day                  object
time                 object
dtype: object

In [9]:
# change temperature, relative humidity, wind speed, wind direction, and time data type to float
df["temperature"] = df["temperature"].apply(lambda x: x[:2]).astype(float)
df["relative_humidity"] = df["relative_humidity"].apply(lambda x: x[:2]).astype(float)
df["wind_speed"] = df["wind_speed"].apply(lambda x: x[:2]).astype(float)
df["wind_direction"] = df["wind_direction"].apply(lambda x: x[:2]).astype(float)
df["time"] = df["time"].apply(lambda x: x[:2]).astype(float)

In [10]:
# change year, month, and day data type to integer
df["year"] = df["year"].apply(lambda x: x[:2]).astype(int)
df["month"] = df["month"].apply(lambda x: x[:2]).astype(int)
df["day"] = df["day"].apply(lambda x: x[:2]).astype(int)

In [11]:
df.dtypes

date_time             object
temperature          float64
relative_humidity    float64
wind_speed           float64
wind_direction       float64
year                   int64
month                  int64
day                    int64
time                 float64
dtype: object

In [12]:
# drop datetime column
df.drop(columns=["date_time"], inplace=True)

In [13]:
# export to pickle
df.to_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/weather_data.pkl")