In [29]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [30]:
#read pickle
X_train = pd.read_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_train_over.pkl")

In [31]:
X_train.columns

Index(['train_serv', 'month', 'destination_region', 'departure_region',
       'temperature', 'relative_humidity', 'wind_speed', 'wind_direction',
       'time_of_day', 'date', 'day_of_week'],
      dtype='object')

In [32]:
one_hot_encoded_data = pd.get_dummies(X_train, columns = ['train_serv', 'month'
        , 'destination_region', 'departure_region',
       'time_of_day', 'day_of_week'])

In [33]:
one_hot_encoded_data.head()

,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,train_serv_THI-FACT,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,13.490944,71.580310,16.394829,81.15818,2015-10-09,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,16.240944,56.210087,19.881649,328.32452,2015-06-18,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,3.830944,89.245080,21.758419,308.95593,2019-01-28,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,7.070944,89.675210,18.511143,193.49573,2019-06-02,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,23.960943,57.059574,13.339445,356.90594,2018-02-08,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [34]:
df_to_normalize = one_hot_encoded_data[["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"]]

In [35]:
min_max = preprocessing.MinMaxScaler()
scaled_df = min_max.fit_transform(df_to_normalize.values)
normalized_df = pd.DataFrame(scaled_df, columns=["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"])

In [36]:
one_hot_encoded_data["temperature"] = normalized_df["temperature"]
one_hot_encoded_data["relative_humidity"] = normalized_df["relative_humidity"]
one_hot_encoded_data["wind_speed"] = normalized_df["wind_speed"]
one_hot_encoded_data["wind_direction"] = normalized_df["wind_direction"]

In [37]:
one_hot_encoded_data.head()

,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,train_serv_THI-FACT,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,0.468821,0.661019,0.303137,0.223413,2015-10-09,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,0.525792,0.478449,0.367607,0.911782,2015-06-18,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,0.268697,0.870843,0.402308,0.857840,2019-01-28,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,0.335819,0.875952,0.342267,0.536278,2019-06-02,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,0.685726,0.488540,0.246643,0.991383,2018-02-08,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [39]:
#export to pickle
one_hot_encoded_data.to_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_train_processed.pkl")