Cleaning

In [3]:
#import libraries
import pandas as pd

In [12]:
df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/2014/Data_raw_punctuality_201401.csv")

In [18]:
df.count

<bound method DataFrame.count of             DATDEP  TRAIN_NO RELATION TRAIN_SERV  PTCAR_NO LINE_NO_DEP  \
0        01JAN2014        10      ICE  SNCB/NMBS       825          37
1        01JAN2014        10      ICE  SNCB/NMBS       266          37
2        01JAN2014        10      ICE  SNCB/NMBS        27          37
3        01JAN2014        10      ICE  SNCB/NMBS       726          36
4        01JAN2014        10      ICE  SNCB/NMBS        31           2
...            ...       ...      ...        ...       ...         ...
1900453  31JAN2014     17953    EXTRA  SNCB/NMBS       672         161
1900454  31JAN2014     17953    EXTRA  SNCB/NMBS       457         161
1900455  31JAN2014     17953    EXTRA  SNCB/NMBS       997         161
1900456  31JAN2014     17953    EXTRA  SNCB/NMBS       975         161
1900457  31JAN2014     17953    EXTRA  SNCB/NMBS       936         NaN

        REAL_TIME_ARR REAL_TIME_DEP PLANNED_TIME_ARR PLANNED_TIME_DEP  \
0            20:29:50      20:28:41         20:29:00         20:29:00
1            20:41:26      20:41:26         20:40:00         20:40:00
2            20:42:26      20:42:30         20:41:00         20:41:00
3            20:45:41      20:47:14         20:44:00         20:46:00
4            20:51:22      20:51:26         20:51:00         20:51:00
...               ...           ...              ...              ...
1900453       0:20:00       0:19:56          0:14:00          0:14:00
1900454       0:22:56       0:20:52          0:17:00          0:17:00
1900455       0:21:49       0:21:54          0:20:00          0:20:00
1900456       0:24:54       0:23:05          0:23:00          0:23:00
1900457       0:25:54           NaN          0:26:00              NaN

         DELAY_ARR  DELAY_DEP  RELATION_DIRECTION    PTCAR_LG_NM_NL  \
0              -19        -19                 NaN        HERGENRATH
1               86         86                 NaN            CHENEE
2               86         90                 NaN           ANGLEUR
3              101         74                 NaN  LIEGE-GUILLEMINS
4               22         26                 NaN               ANS
...            ...        ...                 ...               ...
1900453        360        356                 NaN          LA HULPE
1900454        356        232                 NaN            GENVAL
1900455        109        114                 NaN         RIXENSART
1900456        114          5                 NaN       PROFONDSART
1900457         -6          0                 NaN         OTTIGNIES

        LINE_NO_ARR PLANNED_DATE_ARR PLANNED_DATE_DEP REAL_DATE_ARR  \
0                37        01JAN2014        01JAN2014     01JAN2014
1                 3        01JAN2014        01JAN2014     01JAN2014
2                37        01JAN2014        01JAN2014     01JAN2014
3                37        01JAN2014        01JAN2014     01JAN2014
4                36        01JAN2014        01JAN2014     01JAN2014
...             ...              ...              ...           ...
1900453         161        01FEB2014        01FEB2014     01FEB2014
1900454         161        01FEB2014        01FEB2014     01FEB2014
1900455         161        01FEB2014        01FEB2014     01FEB2014
1900456         161        01FEB2014        01FEB2014     01FEB2014
1900457         161        01FEB2014              NaN     01FEB2014

        REAL_DATE_DEP
0           01JAN2014
1           01JAN2014
2           01JAN2014
3           01JAN2014
4           01JAN2014
...               ...
1900453     01FEB2014
1900454     01FEB2014
1900455     01FEB2014
1900456     01FEB2014
1900457           NaN

[1900458 rows x 19 columns]>

In [14]:
df.head(100)

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,01JAN2014,10,ICE,SNCB/NMBS,825,37,20:29:50,20:28:41,20:29:00,20:29:00,-19,-19,NaN,HERGENRATH,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
1,01JAN2014,10,ICE,SNCB/NMBS,266,37,20:41:26,20:41:26,20:40:00,20:40:00,86,86,NaN,CHENEE,3,01JAN2014,01JAN2014,01JAN2014,01JAN2014
2,01JAN2014,10,ICE,SNCB/NMBS,27,37,20:42:26,20:42:30,20:41:00,20:41:00,86,90,NaN,ANGLEUR,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
3,01JAN2014,10,ICE,SNCB/NMBS,726,36,20:45:41,20:47:14,20:44:00,20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
4,01JAN2014,10,ICE,SNCB/NMBS,31,2,20:51:22,20:51:26,20:51:00,20:51:00,22,26,NaN,ANS,36,01JAN2014,01JAN2014,01JAN2014,01JAN2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,01JAN2014,112,IC/L,SNCB/NMBS,730,34,13:54:34,13:55:38,13:55:00,13:56:00,-26,-22,NaN,LIEGE-PALAIS,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
96,01JAN2014,112,IC/L,SNCB/NMBS,562,34,14:00:20,14:01:29,14:01:00,14:02:00,-40,-31,NaN,HERSTAL,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
97,01JAN2014,112,IC/L,SNCB/NMBS,835,34,14:06:29,14:07:00,14:07:00,14:07:00,-31,0,NaN,MILMORT,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
98,01JAN2014,112,IC/L,SNCB/NMBS,733,34L/1,14:08:40,14:09:01,14:11:00,14:12:00,-140,-179,NaN,LIERS,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
99,01JAN2014,112,IC/L,SNCB/NMBS,734,NaN,14:10:26,NaN,14:16:00,NaN,-334,0,NaN,LIERS-FAISCEAU,34L/1,01JAN2014,NaN,01JAN2014,NaN

In [15]:
df2 = df[df.DELAY_DEP > 360]

In [17]:
df2.count

<bound method DataFrame.count of             DATDEP  TRAIN_NO RELATION TRAIN_SERV  PTCAR_NO LINE_NO_DEP  \
321      01JAN2014      1210      INT  SNCB/NMBS       810          25
322      01JAN2014      1210      INT  SNCB/NMBS       811          25
323      01JAN2014      1210      INT  SNCB/NMBS      1083          25
404      01JAN2014      1218      INT  SNCB/NMBS       220         0/5
405      01JAN2014      1218      INT  SNCB/NMBS       217         0/5
...            ...       ...      ...        ...       ...         ...
1900448  31JAN2014     17953    EXTRA  SNCB/NMBS       380         161
1900449  31JAN2014     17953    EXTRA  SNCB/NMBS      1219         161
1900450  31JAN2014     17953    EXTRA  SNCB/NMBS       183         161
1900451  31JAN2014     17953    EXTRA  SNCB/NMBS       486         161
1900452  31JAN2014     17953    EXTRA  SNCB/NMBS       572         161

        REAL_TIME_ARR REAL_TIME_DEP PLANNED_TIME_ARR PLANNED_TIME_DEP  \
321           7:18:36       7:27:38          7:19:00          7:21:00
322           7:29:38       7:29:38          7:23:00          7:23:00
323           7:31:37       7:31:37          7:25:00          7:25:00
404               NaN       9:10:40              NaN          8:56:00
405           9:12:54       9:12:54          8:58:00          8:58:00
...               ...           ...              ...              ...
1900448       0:12:14       0:12:33         23:57:00         23:57:00
1900449       0:16:33       0:14:06          0:01:00          0:01:00
1900450       0:16:06       0:15:17          0:03:00          0:03:00
1900451       0:17:32       0:17:35          0:08:00          0:08:00
1900452       0:19:32       0:19:35          0:10:00          0:10:00

         DELAY_ARR  DELAY_DEP  RELATION_DIRECTION        PTCAR_LG_NM_NL  \
321            -24        398                 NaN              MECHELEN
322            398        398                 NaN  MECHELEN-NEKKERSPOEL
323            397        397                 NaN  SINT-KATELIJNE-WAVER
404              0        880                 NaN          BRUSSEL-ZUID
405            894        894                 NaN   BRUSSEL-KAPELLEKERK
...            ...        ...                 ...                   ...
1900448        914        933                 NaN             ETTERBEEK
1900449        933        786                 NaN             WATERMAAL
1900450        786        737                 NaN             BOSVOORDE
1900451        572        575                 NaN           GROENENDAAL
1900452        575        575                 NaN             HOEILAART

        LINE_NO_ARR PLANNED_DATE_ARR PLANNED_DATE_DEP REAL_DATE_ARR  \
321              25        01JAN2014        01JAN2014     01JAN2014
322              25        01JAN2014        01JAN2014     01JAN2014
323              25        01JAN2014        01JAN2014     01JAN2014
404             NaN              NaN        01JAN2014           NaN
405             0/5        01JAN2014        01JAN2014     01JAN2014
...             ...              ...              ...           ...
1900448         161        31JAN2014        31JAN2014     01FEB2014
1900449         161        01FEB2014        01FEB2014     01FEB2014
1900450         161        01FEB2014        01FEB2014     01FEB2014
1900451         161        01FEB2014        01FEB2014     01FEB2014
1900452         161        01FEB2014        01FEB2014     01FEB2014

        REAL_DATE_DEP
321         01JAN2014
322         01JAN2014
323         01JAN2014
404         01JAN2014
405         01JAN2014
...               ...
1900448     01FEB2014
1900449     01FEB2014
1900450     01FEB2014
1900451     01FEB2014
1900452     01FEB2014

[170867 rows x 19 columns]>

In [19]:
df2.tail(100)

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
1900339,31JAN2014,17924,EXTRA,SNCB/NMBS,353,27A,18:43:14,18:43:14,18:32:00,18:32:00,674,674,NaN,EKEREN-BRUG,27A,31JAN2014,31JAN2014,31JAN2014,31JAN2014
1900340,31JAN2014,17924,EXTRA,SNCB/NMBS,58,27A,18:54:33,18:54:33,18:34:00,18:34:00,1233,1233,NaN,ANTWERPEN-NOORDERDOKKEN,27A,31JAN2014,31JAN2014,31JAN2014,31JAN2014
1900341,31JAN2014,17924,EXTRA,SNCB/NMBS,764,27A,18:59:15,19:04:43,18:35:00,18:35:00,1455,1783,NaN,ANTWERPEN-LUCHTBAL,27A,31JAN2014,31JAN2014,31JAN2014,31JAN2014
1900342,31JAN2014,17924,EXTRA,SNCB/NMBS,38,27A,19:05:43,19:05:43,18:36:00,18:36:00,1783,1783,NaN,ANTWERPEN-DAM,27A,31JAN2014,31JAN2014,31JAN2014,31JAN2014
1900343,31JAN2014,17924,EXTRA,SNCB/NMBS,61,27A,19:12:21,19:12:39,18:39:00,18:39:00,2001,2019,NaN,ANTWERPEN-OOST,27A,31JAN2014,31JAN2014,31JAN2014,31JAN2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900448,31JAN2014,17953,EXTRA,SNCB/NMBS,380,161,0:12:14,0:12:33,23:57:00,23:57:00,914,933,NaN,ETTERBEEK,161,31JAN2014,31JAN2014,01FEB2014,01FEB2014
1900449,31JAN2014,17953,EXTRA,SNCB/NMBS,1219,161,0:16:33,0:14:06,0:01:00,0:01:00,933,786,NaN,WATERMAAL,161,01FEB2014,01FEB2014,01FEB2014,01FEB2014
1900450,31JAN2014,17953,EXTRA,SNCB/NMBS,183,161,0:16:06,0:15:17,0:03:00,0:03:00,786,737,NaN,BOSVOORDE,161,01FEB2014,01FEB2014,01FEB2014,01FEB2014
1900451,31JAN2014,17953,EXTRA,SNCB/NMBS,486,161,0:17:32,0:17:35,0:08:00,0:08:00,572,575,NaN,GROENENDAAL,161,01FEB2014,01FEB2014,01FEB2014,01FEB2014
1900452,31JAN2014,17953,EXTRA,SNCB/NMBS,572,161,0:19:32,0:19:35,0:10:00,0:10:00,575,575,NaN,HOEILAART,161,01FEB2014,01FEB2014,01FEB2014,01FEB2014