Cleaning

In [36]:
#import libraries
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/2014/Data_raw_punctuality_201401.csv")

In [38]:
df.count()

DATDEP                1900458
TRAIN_NO              1900458
RELATION              1900458
TRAIN_SERV            1900458
PTCAR_NO              1900458
LINE_NO_DEP           1806030
REAL_TIME_ARR         1806067
REAL_TIME_DEP         1806036
PLANNED_TIME_ARR      1806058
PLANNED_TIME_DEP      1806031
DELAY_ARR             1900458
DELAY_DEP             1900458
RELATION_DIRECTION          0
PTCAR_LG_NM_NL        1900458
LINE_NO_ARR           1806064
PLANNED_DATE_ARR      1806058
PLANNED_DATE_DEP      1806031
REAL_DATE_ARR         1806067
REAL_DATE_DEP         1806036
dtype: int64

In [39]:
df.head(100)

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,01JAN2014,10,ICE,SNCB/NMBS,825,37,20:29:50,20:28:41,20:29:00,20:29:00,-19,-19,NaN,HERGENRATH,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
1,01JAN2014,10,ICE,SNCB/NMBS,266,37,20:41:26,20:41:26,20:40:00,20:40:00,86,86,NaN,CHENEE,3,01JAN2014,01JAN2014,01JAN2014,01JAN2014
2,01JAN2014,10,ICE,SNCB/NMBS,27,37,20:42:26,20:42:30,20:41:00,20:41:00,86,90,NaN,ANGLEUR,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
3,01JAN2014,10,ICE,SNCB/NMBS,726,36,20:45:41,20:47:14,20:44:00,20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
4,01JAN2014,10,ICE,SNCB/NMBS,31,2,20:51:22,20:51:26,20:51:00,20:51:00,22,26,NaN,ANS,36,01JAN2014,01JAN2014,01JAN2014,01JAN2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,01JAN2014,112,IC/L,SNCB/NMBS,730,34,13:54:34,13:55:38,13:55:00,13:56:00,-26,-22,NaN,LIEGE-PALAIS,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
96,01JAN2014,112,IC/L,SNCB/NMBS,562,34,14:00:20,14:01:29,14:01:00,14:02:00,-40,-31,NaN,HERSTAL,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
97,01JAN2014,112,IC/L,SNCB/NMBS,835,34,14:06:29,14:07:00,14:07:00,14:07:00,-31,0,NaN,MILMORT,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
98,01JAN2014,112,IC/L,SNCB/NMBS,733,34L/1,14:08:40,14:09:01,14:11:00,14:12:00,-140,-179,NaN,LIERS,34,01JAN2014,01JAN2014,01JAN2014,01JAN2014
99,01JAN2014,112,IC/L,SNCB/NMBS,734,NaN,14:10:26,NaN,14:16:00,NaN,-334,0,NaN,LIERS-FAISCEAU,34L/1,01JAN2014,NaN,01JAN2014,NaN

In [40]:
df['PTCAR_LG_NM_NL'][pd.isna(df.REAL_TIME_DEP)]

19             BRUSSEL-ZUID
39           LIERS-FAISCEAU
59           LIERS-FAISCEAU
99           LIERS-FAISCEAU
139          LIERS-FAISCEAU
                 ...
1900419    LIEGE-GUILLEMINS
1900430            KORTRIJK
1900433      MERELBEKE-T.W.
1900435    LIEGE-GUILLEMINS
1900457           OTTIGNIES
Name: PTCAR_LG_NM_NL, Length: 94422, dtype: object

In [41]:
df['destination'] = df.groupby(['DATDEP', 'TRAIN_NO'], sort=False)['PTCAR_LG_NM_NL'].transform('last')

In [42]:
df.head(1220)

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination
0,01JAN2014,10,ICE,SNCB/NMBS,825,37,20:29:50,20:28:41,20:29:00,20:29:00,-19,-19,NaN,HERGENRATH,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
1,01JAN2014,10,ICE,SNCB/NMBS,266,37,20:41:26,20:41:26,20:40:00,20:40:00,86,86,NaN,CHENEE,3,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
2,01JAN2014,10,ICE,SNCB/NMBS,27,37,20:42:26,20:42:30,20:41:00,20:41:00,86,90,NaN,ANGLEUR,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
3,01JAN2014,10,ICE,SNCB/NMBS,726,36,20:45:41,20:47:14,20:44:00,20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
4,01JAN2014,10,ICE,SNCB/NMBS,31,2,20:51:22,20:51:26,20:51:00,20:51:00,22,26,NaN,ANS,36,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,01JAN2014,1508,IC/L,SNCB/NMBS,1670,NaN,11:18:00,NaN,11:19:00,NaN,-60,0,NaN,GENK,21D,01JAN2014,NaN,01JAN2014,NaN,GENK
1216,01JAN2014,1509,IC/L,SNCB/NMBS,642,51B,NaN,9:06:04,NaN,9:04:00,0,124,NaN,KNOKKE,NaN,NaN,01JAN2014,NaN,01JAN2014,GENK
1217,01JAN2014,1509,IC/L,SNCB/NMBS,337,51B,9:09:04,9:09:54,9:07:00,9:07:00,124,174,NaN,DUINBERGEN,51B,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK
1218,01JAN2014,1509,IC/L,SNCB/NMBS,540,51B,9:12:54,9:13:11,9:11:00,9:11:00,114,131,NaN,HEIST,51B,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK
1219,01JAN2014,1509,IC/L,SNCB/NMBS,214,51,9:22:29,9:22:29,9:20:00,9:20:00,149,149,NaN,BRUGGE-DIJK,51,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK

In [43]:
df2 = df[df.DELAY_DEP > 360]

In [44]:
df2.count()

DATDEP                170867
TRAIN_NO              170867
RELATION              170867
TRAIN_SERV            170867
PTCAR_NO              170867
LINE_NO_DEP           170568
REAL_TIME_ARR         166609
REAL_TIME_DEP         170572
PLANNED_TIME_ARR      166609
PLANNED_TIME_DEP      170569
DELAY_ARR             170867
DELAY_DEP             170867
RELATION_DIRECTION         0
PTCAR_LG_NM_NL        170867
LINE_NO_ARR           166607
PLANNED_DATE_ARR      166609
PLANNED_DATE_DEP      170569
REAL_DATE_ARR         166609
REAL_DATE_DEP         170572
destination           170867
dtype: int64

In [45]:
df3 = df2[df2.PTCAR_LG_NM_NL == 'BRUSSEL-CENTRAAL']

In [46]:
df3.count()

DATDEP                3735
TRAIN_NO              3735
RELATION              3735
TRAIN_SERV            3735
PTCAR_NO              3735
LINE_NO_DEP           3735
REAL_TIME_ARR         3735
REAL_TIME_DEP         3735
PLANNED_TIME_ARR      3735
PLANNED_TIME_DEP      3735
DELAY_ARR             3735
DELAY_DEP             3735
RELATION_DIRECTION       0
PTCAR_LG_NM_NL        3735
LINE_NO_ARR           3735
PLANNED_DATE_ARR      3735
PLANNED_DATE_DEP      3735
REAL_DATE_ARR         3735
REAL_DATE_DEP         3735
destination           3735
dtype: int64

In [47]:
df3.head(100)

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination
406,01JAN2014,1218,INT,SNCB/NMBS,215,0/5,9:14:08,9:15:58,8:59:00,9:01:00,908,898,NaN,BRUSSEL-CENTRAAL,0/5,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN
782,01JAN2014,1249,INT,SNCB/NMBS,215,0/6,20:11:55,20:14:52,19:59:00,20:01:00,775,832,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID
1107,01JAN2014,1506,IC/L,SNCB/NMBS,215,0/3,7:46:34,7:47:46,7:39:00,7:40:00,454,466,NaN,BRUSSEL-CENTRAAL,0/3,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK
1527,01JAN2014,1516,IC/L,SNCB/NMBS,215,0/3,17:46:08,17:48:36,17:39:00,17:40:00,428,516,NaN,BRUSSEL-CENTRAAL,0/3,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK
1569,01JAN2014,1517,IC/L,SNCB/NMBS,215,0/3,18:46:10,18:48:35,18:39:00,18:40:00,430,515,NaN,BRUSSEL-CENTRAAL,0/3,01JAN2014,01JAN2014,01JAN2014,01JAN2014,GENK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104553,02JAN2014,9413,TGV,SNCB/NMBS,215,0/1,9:42:36,9:42:26,9:31:00,9:31:00,696,686,NaN,BRUSSEL-CENTRAAL,0/1,02JAN2014,02JAN2014,02JAN2014,02JAN2014,HERGENRATH
105438,02JAN2014,9994,TGV,SNCB/NMBS,215,0/2,9:14:09,9:14:03,9:05:00,9:05:00,549,543,NaN,BRUSSEL-CENTRAAL,0/2,02JAN2014,02JAN2014,02JAN2014,02JAN2014,BRUSSEL-ZUID
107116,03JAN2014,1506,IC/L,SNCB/NMBS,215,0/3,7:47:35,7:49:34,7:39:00,7:40:00,515,574,NaN,BRUSSEL-CENTRAAL,0/3,03JAN2014,03JAN2014,03JAN2014,03JAN2014,TONGEREN
107588,03JAN2014,1517,IC/L,SNCB/NMBS,215,0/3,19:16:30,19:17:56,18:39:00,18:40:00,2250,2276,NaN,BRUSSEL-CENTRAAL,0/3,03JAN2014,03JAN2014,03JAN2014,03JAN2014,TONGEREN
107753,03JAN2014,1527,IC/L,SNCB/NMBS,215,0/4,6:26:22,6:29:49,6:20:00,6:21:00,382,529,NaN,BRUSSEL-CENTRAAL,0/4,03JAN2014,03JAN2014,03JAN2014,03JAN2014,KNOKKE