In [41]:
#import libraries
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("/Users/ilseeb/Downloads/brussels_weather.csv")

In [43]:
df.head()

,location,Grand Place Brussels,Grand Place Brussels.1,Grand Place Brussels.2,Grand Place Brussels.3
0,lat,50.75000,50.75000,50.75000,50.75000
1,lon,4.25000,4.25000,4.25000,4.25000
2,asl,65.530,65.530,65.530,65.530
3,variable,Temperature,Relative Humidity,Wind Speed,Wind Direction
4,unit,째C,%,km/h,째

In [44]:
df.drop(df.index[:9], inplace=True)

In [45]:
df.head()

,location,Grand Place Brussels,Grand Place Brussels.1,Grand Place Brussels.2,Grand Place Brussels.3
9,20140101T0000,6.4709435,91.90476,20.774214,207.89728
10,20140101T0100,6.840944,91.48526,20.592503,216.46924
11,20140101T0200,6.7509437,91.160164,19.296135,216.65611
12,20140101T0300,6.360944,89.92542,19.164717,208.00919
13,20140101T0400,6.0409436,88.89181,19.255793,200.8068

In [46]:
df = df.rename(columns={"location": "date_time" ,"Grand Place Brussels": "temperature", "Grand Place Brussels.1": "relative_humidity", "Grand Place Brussels.2": "wind_speed", "Grand Place Brussels.3": "wind_direction"})

In [47]:
df["year"] = df["date_time"].apply(lambda x: x[:4])

In [48]:
df["month"] = df["date_time"].apply(lambda x: x[4:6])

In [49]:
df["day"] = df["date_time"].apply(lambda x: x[6:8])

In [50]:
df["time"] = df["date_time"].apply(lambda x: x[9:])

In [51]:
df.tail()

,date_time,temperature,relative_humidity,wind_speed,wind_direction,year,month,day,time
78892,20221231T1900,14.870944,61.63304,35.747112,207.59729,2022,12,31,1900
78893,20221231T2000,14.9309435,59.61046,38.64764,207.75854,2022,12,31,2000
78894,20221231T2100,14.920943,59.11822,41.060516,211.73914,2022,12,31,2100
78895,20221231T2200,14.960943,57.24432,40.14121,214.40266,2022,12,31,2200
78896,20221231T2300,14.890944,56.479618,39.97459,218.41806,2022,12,31,2300